##################################
# C / C++ build files
##################################
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


##################################
# Visual Studio Code
##################################
.vscode/
.history/
*.code-workspace


##################################
# Arduino IDE
##################################
# Arduino build output
*.ino.cpp
*.ino.d
*.ino.o
*.ino.hex
*.ino.elf
*.ino.bin

# Arduino build folders
build/
.arduino/
.arduinoIDE/
.arduino-sketch/

# PlatformIO (pokud bys používal)
.pio/
.pioenvs/
.piolibdeps/
.pioBuild/

##################################
# Misc
##################################
# Logs
*.log

# Backup files
*~
*.bak
*.swp
*.swo
